<!--
<img src=<%= asset_path @sheet.background %> style="border: solid;>
-->
<div class="outer-box" style="text-align:center; position: relative;" style="border: solid;">
	<div class="img-responsive inner-box" style="display: inline-block; background-image: url(/assets/lamina1/model_grey/img/Fondo.png); width: 770px; height: 578px; background-size: contain; background-repeat: no-repeat;">
	</div>
	<div class="img-responsive" style="position: relative; background-image: url(/assets/lamina1/model_grey/img/Capa_18.png); border: solid; background-size: contain; background-repeat: no-repeat; left: 33.5%; top: 10.5%; z-index: 2; width:272px; height:115px;">
	</div>

</div>
<!--
<%=image_tag(@sheet.background, class:"img-responsive", :style=>"border: solid; z-index: 1; max-width: 100%;") %>
<%=image_tag("lamina1/model_grey/img/Capa_18.png", class:"img-responsive area", :style=>"left: 33.5%; top: 10.5%; z-index: 2;") %>

	<div id="Capa18" style="position:absolute; left:258px; top:61px; z-index:2;">
		<img name="Capa_18" src=<%= asset_path "lamina1/model_grey/img/Capa_18.png"%> width="272" height="115">
	</div>
	<div id="Capa16" style="position:absolute; left:310px; top:225px;z-index:3;">
		<img name="Capa_16" src=<%= asset_path "lamina1/model_grey/img/Capa_16.png" %> width="170" height="71">
	</div>
	<div id="Capa17" style="position:absolute; left:287px; top:316px;z-index:4;">
		<img name="Capa_17" src=<%= asset_path "lamina1/model_grey/img/Capa_17.png" %> width="218" height="65">
	</div>
	<div id="Capa13" style="position:absolute; left:187px; top:45px;z-index:5;">
		<img name="Capa_13" src=<%= asset_path "lamina1/model_grey/img/Capa_13.png" %> width="91" height="67">
	</div>
	<div id="Capa14" style="position:absolute; left:144px; top:238px;z-index:6;">
		<img name="Capa_14" src=<%= asset_path "lamina1/model_grey/img/Capa_14.png" %> width="56" height="115">
	</div>
	<div id="Capa15" style="position:absolute; left:44px; top:108px;z-index:7;">
		<img name="Capa_15" src=<%= asset_path "lamina1/model_grey/img/Capa_15.png" %> width="250" height="130">
	</div>
	<div id="Capa5" style="position:absolute; left:448px; top:37px;z-index:8;">
		<img name="Capa_5" src=<%= asset_path "lamina1/model_grey/img/Capa_5.png" %> width="198" height="382">
	</div>
	<div id="Capa6" style="position:absolute; left:339px; top:137px;z-index:9;">
		<img name="Capa_6" src=<%= asset_path "lamina1/model_grey/img/Capa_6.png" %> width="111" height="30">
	</div>
	<div id="Capa7" style="position:absolute; left:367px; top:157px;z-index:10;">
		<img name="Capa_7" src=<%= asset_path "lamina1/model_grey/img/Capa_7.png" %> width="55" height="31">
	</div>
	<div id="Capa8" style="position:absolute; left:338px; top:161px;z-index:11;">
		<img name="Capa_8" src=<%= asset_path "lamina1/model_grey/img/Capa_8.png" %> width="115" height="109">
	</div>
	<div id="Capa9" style="position:absolute; left:374px; top:325px;z-index:13;">
		<img name="Capa_9" src=<%= asset_path "lamina1/model_grey/img/Capa_9.png" %> width="45" height="134">
	</div>
	<div id="Capa10" style="position:absolute; left:319px; top:266px;z-index:12;">
		<img name="Capa_10" src=<%= asset_path "lamina1/model_grey/img/Capa_10.png" %> width="152" height="194">
	</div>
	<div id="Capa11" style="position:absolute; left:391px; top:270px;z-index:14;">
		<img name="Capa_11" src=<%= asset_path "lamina1/model_grey/img/Capa_11.png" %> width="13" height="22">
	</div>
	<div id="Capa12" style="position:absolute; left:373px; top:454px;z-index:15;">
		<img name="Capa_12" src=<%= asset_path "lamina1/model_grey/img/Capa_12.png" %> width="46" height="54">
	</div>
	<div id="Capa2" style="position:absolute; left:597px; top:133px;z-index:16;">
		<img name="Capa_2" src=<%= asset_path "lamina1/model_grey/img/Capa_2.png" %> width="151" height="82">
	</div>
	<div id="Capa1" style="position:absolute; left:591px; top:233px;z-index:17;">
		<img name="Capa_1" src=<%= asset_path "lamina1/model_grey/img/Capa_1.png" %> width="59" height="47">
	</div>
	<div id="Capa3" style="position:absolute; left:584px; top:349px;z-index:18;">
		<img name="Capa_3" src=<%= asset_path "lamina1/model_grey/img/Capa_3.png" %> width="31" height="43">
	</div>
	<div id="Capa4" style="position:absolute; left:515px; top:384px;z-index:19;">
		<img name="Capa_4" src=<%= asset_path "lamina1/model_grey/img/Capa_4.png" %> width="100" height="42">
	</div>
	-->


<!--
<div id="Fondo" style="position:relative; z-index:1; border: solid;">
	<img name="Fondo_img" src=<%= asset_path @sheet.background %> width="770" height="578">

	<div id="Capa18" style="position:absolute; left:258px; top:61px; z-index:2;">
		<img name="Capa_18" src=<%= asset_path "lamina1/model_grey/img/Capa_18.png"%> width="272" height="115">
	</div>
	<div id="Capa16" style="position:absolute; left:310px; top:225px;z-index:3;">
		<img name="Capa_16" src=<%= asset_path "lamina1/model_grey/img/Capa_16.png" %> width="170" height="71">
	</div>
	<div id="Capa17" style="position:absolute; left:287px; top:316px;z-index:4;">
		<img name="Capa_17" src=<%= asset_path "lamina1/model_grey/img/Capa_17.png" %> width="218" height="65">
	</div>
	<div id="Capa13" style="position:absolute; left:187px; top:45px;z-index:5;">
		<img name="Capa_13" src=<%= asset_path "lamina1/model_grey/img/Capa_13.png" %> width="91" height="67">
	</div>
	<div id="Capa14" style="position:absolute; left:144px; top:238px;z-index:6;">
		<img name="Capa_14" src=<%= asset_path "lamina1/model_grey/img/Capa_14.png" %> width="56" height="115">
	</div>
	<div id="Capa15" style="position:absolute; left:44px; top:108px;z-index:7;">
		<img name="Capa_15" src=<%= asset_path "lamina1/model_grey/img/Capa_15.png" %> width="250" height="130">
	</div>
	<div id="Capa5" style="position:absolute; left:448px; top:37px;z-index:8;">
		<img name="Capa_5" src=<%= asset_path "lamina1/model_grey/img/Capa_5.png" %> width="198" height="382">
	</div>
	<div id="Capa6" style="position:absolute; left:339px; top:137px;z-index:9;">
		<img name="Capa_6" src=<%= asset_path "lamina1/model_grey/img/Capa_6.png" %> width="111" height="30">
	</div>
	<div id="Capa7" style="position:absolute; left:367px; top:157px;z-index:10;">
		<img name="Capa_7" src=<%= asset_path "lamina1/model_grey/img/Capa_7.png" %> width="55" height="31">
	</div>
	<div id="Capa8" style="position:absolute; left:338px; top:161px;z-index:11;">
		<img name="Capa_8" src=<%= asset_path "lamina1/model_grey/img/Capa_8.png" %> width="115" height="109">
	</div>
	<div id="Capa9" style="position:absolute; left:374px; top:325px;z-index:13;">
		<img name="Capa_9" src=<%= asset_path "lamina1/model_grey/img/Capa_9.png" %> width="45" height="134">
	</div>
	<div id="Capa10" style="position:absolute; left:319px; top:266px;z-index:12;">
		<img name="Capa_10" src=<%= asset_path "lamina1/model_grey/img/Capa_10.png" %> width="152" height="194">
	</div>
	<div id="Capa11" style="position:absolute; left:391px; top:270px;z-index:14;">
		<img name="Capa_11" src=<%= asset_path "lamina1/model_grey/img/Capa_11.png" %> width="13" height="22">
	</div>
	<div id="Capa12" style="position:absolute; left:373px; top:454px;z-index:15;">
		<img name="Capa_12" src=<%= asset_path "lamina1/model_grey/img/Capa_12.png" %> width="46" height="54">
	</div>
	<div id="Capa2" style="position:absolute; left:597px; top:133px;z-index:16;">
		<img name="Capa_2" src=<%= asset_path "lamina1/model_grey/img/Capa_2.png" %> width="151" height="82">
	</div>
	<div id="Capa1" style="position:absolute; left:591px; top:233px;z-index:17;">
		<img name="Capa_1" src=<%= asset_path "lamina1/model_grey/img/Capa_1.png" %> width="59" height="47">
	</div>
	<div id="Capa3" style="position:absolute; left:584px; top:349px;z-index:18;">
		<img name="Capa_3" src=<%= asset_path "lamina1/model_grey/img/Capa_3.png" %> width="31" height="43">
	</div>
	<div id="Capa4" style="position:absolute; left:515px; top:384px;z-index:19;">
		<img name="Capa_4" src=<%= asset_path "lamina1/model_grey/img/Capa_4.png" %> width="100" height="42">
	</div>
</div>
-->
  <br></br>
  	<p>Selector de Areas</p>
  	<div id="AreaSelector" style="border-style: solid;">
  		<% @areas.each do |area| %>
  			<button name="<%= area.id %>"  ><%= area.code %></button>
  		<% end %>
    </div>
