<div id="head" class="text-center" style="max-width: 100%;">
	<h1><%= "Editing sheet #{@sheet.id} on Protocol #{@protocol.id}: #{@protocol.patient.given_name} #{@protocol.patient.last_name}" %></h1>
	<br></br>
</div>
	<!-- Base sheet + zone btns + form for interpretations -->
  <div id="box">
	  	<%= image_tag (@sheet.background), class: "static" %>
		<% @zonesUnique.each do |zone| %>
			<%= image_tag (zone.bg_image), class: "area", id: "l"+"_"+zone.id.to_s %>
		<% end %>

	<button class="clearButton_sheet" onclick="reset_areas();">Reestablecer</button>
	<%= button_to "Ingresar", { action: "create" }, class: "addButton_sheet", remote: true, form: { "data-type" => "json" } %>
  </div>

		<br></br>
		<p>Selector de Areas</p>
		<div id="areaButtons">
			<% @sheet.areas.each do |area| %>
				<% arr_zones=Array.new %>
				<% area.zones.each do |zone| %>
					<% arr_zones.push(zone.id)  %>
				<% end %>
				<button id="<%= area.id %>" arr_zones="<%= arr_zones %>" name="areaButton"><%= area.code %></button>
			<% end %>
		</div>

<br></br>

	<!-- List of interpretations made -->
	<p>Listado de Interpretaciones</p>
	<div id="ZoneList" style="border-style: solid;">
	<!-- Mini sheet -->

	<!-- div "localization" -->
		<!-- Label "Localizacion" -->
		<!-- Text area "areaCode" -->
		<!-- checkbox "globalResp" -->
		<!-- checkbox "undefinedRes_Dd99" -->
		<!-- comboBox "direction" -->
			<!-- option "^" -->
			<!-- option ">" -->
			<!-- option "<" -->
			<!-- option "v" -->

	<!-- div "respContents" -->
		<!-- Label "Contenido de la Respouesta" -->
			<!-- div "popularContents" -->

				<!-- Label "Contenidos populares" -->
					<!-- comboBox "popularContentsCombo" -->


				<!-- div "Determinants" -->
					<!-- Label "Determinantes" -->
						<!-- comboBox "detCombo" -->
							<!-- option 24 elementos -->

			<!-- div "FQ" -->
				<!-- Label "Calidad Formal" -->
					<!-- comboBox "fq" -->
						<!-- option "+" -->
						<!-- option "o" -->
						<!-- option "u" -->
						<!-- option "-" -->

	<!-- div "DQ" -->
		<!-- Label "Calidad Evolutiva" -->
		<!-- comboBox "dq" -->
			<!-- option "+" -->
			<!-- option "o" -->
			<!-- option "v/+" -->
			<!-- option "v" -->

	<!-- div "OrgActivity" -->
		<!-- Label "Actividad Organizativa" -->

	<!-- div "SpecialCodes" -->
		<!-- Label "Codigos Especiales" -->

	<!-- Button ver lamina original "viewSheet" -->
	<!-- Text area "obs" -->
	<!-- Button submit remote:on -->

	</div>

<br></br>

<%= link_to 'Show', @id %> |
<%= link_to 'Back', protocol_admin_sheet_path %>