<p>Nombre del Paciente: <%= @patient.given_name+" "+@patient.last_name %></p>
<p>Fecha: <%= @protocol.created_at %></p>
<p>Test: <%= @protocol.id %></p>

<h1 style="text-align: center;"><strong>Lámina <%= @sheet.name %></strong></h1>
<div id="Fondo" style="margin-left: auto; margin-right: auto; width:770px; height:578px;z-index:1; visibility:visible; border-style: solid;background-image: url(<%= asset_path @sheet.background %>);"> </div>

<%= link_to 'Edit', edit_protocol_admin_sheet_path(@protocol, @sheet) %> |
<%= link_to 'Back', protocol_admin_path(@protocol) %>