<p>
  <strong>Coord x:</strong>
  <%= @zone.coord_x %>
</p>

<p>
  <strong>Coord y:</strong>
  <%= @zone.coord_y %>
</p>

<p>
  <strong>Width:</strong>
  <%= @zone.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @zone.height %>
</p>

<p>
  <strong>Z index:</strong>
  <%= @zone.z_index %>
</p>

<p>
  <strong>Bg image:</strong>
  <%= @zone.bg_image %>
</p>

<p>
  <strong>Areas where is present:</strong>
  <% @areas_partOf.each do |area| %>
    <ul>
      <li><%= area.code %></li>
    </ul>
  <% end %>
</p>
<%= link_to 'Edit', edit_admin_sheet_area_zone_path(@zone) %> |
<%= link_to 'Back', admin_sheet_area_zones_path %>
