<h1>Listing areas</h1>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>sheet_id</th>
      <th>Code</th>
      <th>Numzones</th>
      <th colspan="3">Acciones</th>
      <th colspan="2">Otros</th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.sheet_id %></td>
        <td><%= area.code %></td>
        <td><%= area.numZones %></td>
        <td><%= link_to 'Show', admin_sheet_area_path(area.sheet_id, area) %></td>
        <td><%= link_to 'Edit', edit_admin_sheet_area_path(area.sheet_id, area) %></td>
        <td><%= link_to 'Destroy', admin_sheet_area_path(area.sheet_id, area), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Administración de Zonas', admin_sheet_area_zones_url(area.sheet_id, area) %></td>
        <td><%= link_to 'Administración de interpretaciones', admin_sheet_area_allowed_interpretations_path(area.sheet_id, area) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area', new_admin_sheet_area_path %> |
<%= link_to 'Back', admin_sheets_path() %>
