<p>
  <strong>Sheet:</strong>
  <%= @area.sheet.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @area.code %>
</p>

<p>
  <strong>Numzones:</strong>
  <%= @area.numZones %>
</p>

<%= link_to 'Edit', edit_admin_sheet_area_path(@area) %> |
<%= link_to 'Back', admin_sheet_areas_path %>
