<div class="container text-center">
	<h1>Menu Administracion</h1>

	<div>
		<h3>Administracion de Usuarios</h3>
		<%= link_to 'Nuevo', new_admin_user_path %> | <%= link_to 'Editar', admin_users_path %>
	</div>
	<div>
		<h3>Administracion de Laminas</h3>
		<%= link_to 'Nuevo', new_admin_sheet_path %> | <%= link_to 'Editar', admin_sheets_path %>
	</div>
	<div>
		<h3>Administracion de Interpretaciones</h3>
		<%= link_to 'Nuevo', new_patient_path %> | <%= link_to 'Editar', patients_path %>
	</div>
	<div>
		<h3>Administracion de Protocolos</h3>
		<%= link_to 'Nuevo', new_protocol_admin_path %> | <%= link_to 'Editar', protocol_admin_index_path %>
	</div>
	<div>
		<h3>Administracion de Usuarios</h3>
		<%= link_to 'Nuevo', new_patient_path %> | <%= link_to 'Editar', patients_path %>
	</div>
	<div>
		<h3>Administracion de Pacientes</h3>
		<%= link_to 'Nuevo', new_patient_path %> | <%= link_to 'Editar', patients_path %>
	</div>
	<div>
		<h3>Usuarios Admin</h3>
		<%= link_to 'Nuevo', new_patient_path %> | <%= link_to 'Editar', patients_path %>
	</div>
	<div>
		<h3>Solicitudes de nuevos usuarios</h3>
		<%= link_to 'Nuevo', new_patient_path %> | <%= link_to 'Editar', patients_path %>
	</div>
</div>